body {
  color: #333;
  font: 14px "lucida grande", tahoma, verdana, arial, "hiragino kaku gothic pro", meiryo, "ms pgothic", sans-serif;
  line-height: 1.6em;
  background: #fefefe;
}

.box {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.ttl {
  font-size: 14px;
}

.btn {
  display: block;
  position: relative;
  margin: 50px auto 0;
  width: 200px; height: 50px;
  color: #fefefe;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  background: #1565C0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  cursor: pointer;
}

.btn:before {
  display: block;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  content: "";
  background: rgba(0, 0, 0, 0);
  transition: background .2s ease-in-out;
}

.btn:hover:before {
  background: rgba(0, 0, 0, .1);
}